<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
</head>
<body>
   <input type="text" id="input" required>
   <button id="submit">SUBMIT</button>

   <div id="superduper">owo</div>

   <script>
   
      const input = document.querySelector('#input');
      const submit = document.querySelector('#submit');
      const content = document.querySelector('#superduper');

      submit.addEventListener('click', function(){
         const answer = input.value;

         fetch('http://localhost:3000/answer', {
            method: 'POST',
            body: JSON.stringify({ answer }),
            headers: {
               'content-type': 'application/json',
               'Accept': 'text/html'
            }
         })
         .then(res => res.text())
         .then(text => {
            content.innerHTML = text;
         })
      });
   
   </script>
</body>
</html>